{% extends "telasAdmin/baseAdm.html" %}

{% block title %}Mentoria 360° - ADM{% endblock %}
{% block navbar_title %}Painel Administrativo{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-full">
    <div class="m-5 bg-[#171717] border border-[#2a2a2a] rounded-xl p-8 max-w-xl w-full text-center shadow-lg">

        <!-- Ícone / Logo -->
        <div class="flex justify-center mb-4">
            <i class="ph ph-crown text-4xl text-[#f8ca54]"></i>
        </div>

        <!-- Mensagem -->
        <h1 class="text-2xl font-bold text-white mb-2">Bem-vindo ao Painel Administrativo</h1>
        <p class="text-lg text-gray-200 mb-2">
            Aqui você pode gerenciar e visualizar informações do sistema.
        </p>


        <p class="text-gray-400 mb-6 hidden md:block">
            Selecione alguma das opções à esquerda para continuar
        </p>

        <p class="text-gray-400 mb-6 block md:hidden">
            Abra o menu acima ☰ para continuar
        </p>


    </div>
</div>
{% endblock %}