<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mentoria 360° - Aluno{% endblock %}</title>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
</head>

<body class="bg-[#101010] text-white min-h-screen flex flex-col">
    <div class="min-h-screen bg-[#0d0d0d] text-white flex flex-col">


        <header class="bg-[#171717] border-b border-[#2a2a2a] px-4 sm:px-8 py-3 flex items-center justify-center sm:justify-between">
            <div class="flex items-center gap-6">
                <div class="flex flex-row items-center">
                    <span class="text-lg font-bold">Mentoria <span class="text-[#f8ca54]">360°</span></span>
                    <img src="{{ url_for('static', filename='img/icone.webp') }}" alt="Logo" class="px-2 h-6 w-auto">
                </div>
            </div>
        </header>

        <div class="flex flex-col w-full">
    
    <!-- Capa -->
    <div class="relative bg-[#b88a2a] h-25 sm:h-32 w-full flex items-end">
        <div class="absolute left-6 bottom-[-40px]">
            <img src="{{ url_for('static', filename='img/lellis3.png') }}" 
                alt="Avatar Aluno" 
                class="w-20 h-20 sm:w-24 sm:h-24 rounded-full border-4 border-[#101010]">
        </div>
    </div>

    <!-- Nome do Aluno -->
    <div class="mt-12 px-6">
        <h1 class="text-xl sm:text-2xl font-bold text-white">Maria Ellen Alve Silva</h1>
    </div>

    <!-- Tabs -->
    <div class="mt-6 px-6 border-b border-[#2a2a2a] flex gap-6 text-sm sm:text-base">
        <a class="pb-2 border-b-2 border-[#f8ca54] text-[#f8ca54] font-semibold">Meus Cursos</a>
        <a class="pb-2 text-gray-400 hover:text-white">Minha Conta</a>
        <a class="pb-2 text-gray-400 hover:text-white">Perfil</a>
    </div>
</div>

{% block content %}

{% endblock %}

</body>

</html>