{% extends "baseAdm.html" %}

{% block title %}Lista de Atividades | Mentoria 360° - ADM{% endblock %}

{% block navbar_title %}Lista de Atividades{% endblock %}

{% block content %}
<div class="space-y-4">

    <!-- Barra de pesquisa -->
    <div class="p-4 mb-6 sticky top-0 bg-[#101010] border-b border-[#2a2a2a] z-20">
        <div class="flex flex-col sm:flex-row gap-3 items-center">
            <div class="relative flex-1 w-full">
                <i class="ph ph-magnifying-glass absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
                <input id="pesquisa-atividade" type="text" placeholder="Buscar atividade..."
                    class="w-full pl-10 pr-4 py-2 bg-[#171717] border border-[#2a2a2a] rounded-md text-white focus:outline-none focus:ring-2 focus:ring-[#f8ca54]">
            </div>
        </div>
    </div>

    {% for atividade in atividades %}
        <!-- exempo 1 ae-->
        <div class="card-atividade mx-4 mb-5 text-gray-300 bg-[#171717] rounded-lg border border-[#2a2a2a] transition-colors">        
            <div class="rounded-t-lg px-2 py-2 gap-2 bg-[#242424] flex justify-between items-center">
                <div class="flex justify-center items-center gap-2 text-lg font-bold text-[#f8ca54]">
                    <i class="ph-duotone ph-notebook text-2xl"></i>
                    <span>{{atividade.nome_atividade}}</span>
                </div>
                <div class="flex flex-col p-1 sm:flex-row gap-2">
                    <button onclick="openModal(
                    {{atividade.id}},
                    '{{atividade.nome_atividade | escape}}',
                    '{{atividade.descricao | escape}}',
                    '{{atividade.data}}',
                    '{{atividade.hora}}',
                    '{{atividade.plataforma  | escape}}',
                    {{atividade.fase.id_fase}},   <!-- id numérico -->
                    '{{atividade.plataforma  | escape}}'
                )"
                        class="px-3 py-1 bg-[#e28813] text-white hover:bg-[#c4610a] rounded-md text-sm font-semibold transition-colors">
                        <i class="ph ph-pencil-simple"></i> Editar
                    </button>
                    <button
                        onclick="deletarAtividade({{ atividade.id }})"
                        class="px-3 py-1 bg-red-600 text-white hover:bg-red-800 rounded-md text-sm font-semibold transition-colors">
                        <i class="ph ph-trash"></i> Deletar
                    </button>
                </div>
            </div>

            <div class="p-4">
                <div class="flex flex-col p-1 lg:flex-row gap-6">
                    <div class="flex-1 space-y-2">
                        <p class="text-sm text-[#f8ca54]"><i class="ph ph-textbox"></i> Descrição</p>
                        <p class="text-sm font-medium">{{atividade.descricao}}</p>
                    </div>
                    <div class="flex-1 space-y-2">
                        <p class="text-sm text-[#f8ca54]"><i class="ph ph-calendar-blank"></i> Data e Hora</p>
                        <p class="text-sm font-medium">{{atividade.data.strftime('%d/%m/%Y')}} - {{atividade.hora.strftime('%H:%M')}}</p>
                    </div>
                </div>
                
                <div class="flex flex-col p-1 lg:flex-row gap-6 mt-4">
                    <div class="flex-1 space-y-2">
                        <p class="text-sm text-[#f8ca54]"><i class="ph ph-stairs"></i> Fase</p>
                        <span class="px-2 py-1 bg-[#19569b] text-white text-sm font-semibold rounded-md">
                            Fase {{atividade.fase.id_fase}}
                        </span>
                    </div>
                    <div class="flex-1 space-y-2">
                        <p class="text-sm text-[#f8ca54]"><i class="ph ph-package"></i> Programa</p>
                    <span class="px-2 py-1 {% if atividade.plataforma == 'MPS' %} bg-[#7aa404] {% endif %} {% if atividade.plataforma == 'DOP' %} bg-[#cd3f07] {% endif %} text-white text-sm font-semibold rounded-md">
                            {{atividade.plataforma}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    

</div>

<!-- Modal -->
<div id="editModal" class="fixed inset-0 bg-[#00000084] hidden flex items-center justify-center z-50">
    <div class="bg-[#171717] w-full max-w-2xl rounded-lg p-6 m-4 max-h-[90vh] overflow-y-auto">
        <h2 class="text-lg font-bold text-[#f8ca54] mb-4">Editar Atividade</h2>
        <form id="editForm" class="space-y-4">
            <div>
                <label class="text-sm text-gray-300">Nome da Atividade</label>
                <input type="text" name="nomeAtividade"
                    class="w-full p-2 rounded border border-[#2a2a2a] bg-[#101010] text-white">
            </div>
            <div>
                <label class="text-sm text-gray-300">Descrição</label>
                <textarea name="descricaoAtividade" rows="4"
                    class="w-full p-2 rounded border border-[#2a2a2a] bg-[#101010] text-white resize-none"></textarea>
            </div>
            
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label class="text-sm text-gray-300">Data</label>
                    <input type="date" name="dataAtividade"
                        class="w-full p-2 rounded border border-[#2a2a2a] bg-[#101010] text-white">
                </div>
                <div>
                    <label class="text-sm text-gray-300">Hora</label>
                    <input type="time" name="horaAtividade"
                        class="w-full p-2 rounded border border-[#2a2a2a] bg-[#101010] text-white">
                </div>
            </div>
            <div>
                <label class="text-sm text-gray-300">Fase</label>
                <select name="faseAtividade" class="w-full p-2 rounded border border-[#2a2a2a] bg-[#101010] text-white">
                    {% for fase in fases %}
                        <option value="{{fase.id_fase}}">{{fase.nome_fase}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label class="text-sm text-gray-300">Programa</label>
                <select name="programaAtividade" class="w-full p-2 rounded border border-[#2a2a2a] bg-[#101010] text-white">
                    <option value="DOP">DOP</option>
                    <option value="MPS">MPS</option>
                </select>
            </div>

            <div class="flex justify-end gap-2 pt-4">
                <button type="button" onclick="closeModal()"
                    class="px-4 py-2 rounded bg-[#2c456c] text-white hover:bg-[#281d5f]">Cancelar</button>
                <button type="submit"
                    class="px-4 py-2 rounded bg-[#e28813] text-white hover:bg-[#c4610a]">Salvar</button>
            </div>
        </form>
    </div>
</div>

<script>
    const modal = document.getElementById('editModal');
    const form = document.getElementById('editForm');

    let atividadeId = null;

    function openModal(id, nomeAtividade, descricaoAtividade, dataAtividade, horaAtividade, tipoAtividade, faseAtividade, programaAtividade) {
        atividadeId = id;
        modal.classList.remove('hidden');
        
        form.nomeAtividade.value = nomeAtividade;
        form.descricaoAtividade.value = descricaoAtividade;
        form.dataAtividade.value = dataAtividade;
        form.horaAtividade.value = horaAtividade;
        form.tipoAtividade.value = tipoAtividade;
        form.faseAtividade.value = faseAtividade;
        form.programaAtividade.value = programaAtividade;
    }

    function closeModal() {
        modal.classList.add('hidden');
    }

    async function deletarAtividade(id){
        if(!confirm("Tem certeza que deseja excluir esta atividade?")){
            return;
        }
        console.log('Deletando atividade:', id);

        const resp = await fetch(`/admin/atividades/deletar/${id}`, {
            method: "DELETE"
        });

        if(resp.ok){
            const result = await resp.json();
            alert(result.message);
            location.reload();
        }else{
            alert("Erro ao deletar atividade!")
        }
    }


    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        let hora = form.horaAtividade.value;
        if (hora.length === 8) { // ex: "13:30:00"
            hora = hora.substring(0, 5); // fica "13:30"
        }

        const payload = {
            nomeAtividade: form.nomeAtividade.value,
            descricaoAtividade: form.descricaoAtividade.value,
            dataAtividade: form.dataAtividade.value,
            horaAtividade: hora,
            tipoAtividade: form.tipoAtividade.value,
            faseAtividade: form.faseAtividade.value,
            programaAtividade: form.programaAtividade.value
        };

        const resp = await fetch(`/admin/atividades/editar/${atividadeId}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(payload)
        });

        if (resp.ok) {
            const result = await resp.json();
            alert(result.message);
            location.reload();
        } else {
            alert("Erro ao salvar alterações");
        }

        console.log('Salvando Atividade:', {
            nomeAtividade: form.nomeAtividade.value,
            descricaoAtividade: form.descricaoAtividade.value,
            dataAtividade: form.dataAtividade.value,
            horaAtividade: form.horaAtividade.value,
            tipoAtividade: form.tipoAtividade.value,
            faseAtividade: form.faseAtividade.value,
            programaAtividade: form.programaAtividade.value
        });
        closeModal();
    });




</script>
{% endblock %}